# fly.toml app configuration file generated for astrogroot-crawler on 2026-02-02T00:40:05+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'astrogroot-crawler'
primary_region = 'nrt'

[build]
  dockerfile = 'Dockerfile'

[env]
  CRAWLER_INTERVAL_HOURS = '1'
  MAX_ITEMS_PER_SOURCE = '20'

[[vm]]
  memory = '1024mb'
  cpus = 1
  memory_mb = 1024
