# fly.toml app configuration file generated for astrogroot-chromadb on 2026-02-02T00:37:03+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'astrogroot-chromadb'
primary_region = 'nrt'

[build]
  image = 'chromadb/chroma:latest'

[env]
  ANONYMIZED_TELEMETRY = 'FALSE'
  CHROMA_SERVER_AUTH_CREDENTIALS_PROVIDER = 'chromadb.auth.token_authn.TokenAuthenticationServerProvider'
  CHROMA_SERVER_AUTH_TOKEN_TRANSPORT_HEADER = 'X-Chroma-Token'
  IS_PERSISTENT = 'TRUE'

[[mounts]]
  source = 'chromadb_data'
  destination = '/chroma/chroma'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 100
    soft_limit = 80

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
